# Auto detect text files and perform LF normalization
* text=auto

.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.aps
*.suo
*.sln.docstates
*.db
*.opendb

src/*.class
src/oxyconnect.class
src/cached/
cached/
test.png

vcpkg_installed/

/out/
/build/
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
CMakeUserPresets.json
Makefile
cmake_install.cmake

/cached/
/tools/scrcpy

Thumbs.db
Desktop.ini
.DS_Store
